* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #07103d; /* Dark blue color */
    padding: 20px;
}

.logo img {
    width: 150px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    text
}

.nav-links li:hover .dropdown {
    display: block;
}


.nav-links a:hover {
    text-decoration: underline; /* Underline when hovering */
}

.dropdown {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    list-style: none;
}

.dropdown li {
    padding: 10px;
}

.dropdown li a {
    color: black;
}

.cart img {
    width: 24px;
}

/* Banner Section */
.banner {
    position: relative;
    background: url('Untitled.png') no-repeat center center/cover;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.banner-content {
    text-align: center;
}

.banner h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.banner p {
    font-size: 20px;
    margin-bottom: 20px;
}

.banner h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.banner-button button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
}

.banner-button button:hover {
    background-color: #f1f1f1;
}
